<div class="row">
    <div class="col-md-12">
        <p>Add new servers or blueprints.</p>
        <div class="col-md-5 form-group">
            <label for="">Server Name</label>
            <!-- <input type="text" id="name" class="form-control" [(ngModel)]="newServerName"> -->
            <input type="text" id="name" class="form-control" #serverNameInput>
        </div>
        <div class="col-md-5 form-group">
            <label for="amount">Server Content</label>
            <!-- <input type="text" id="amount" class="form-control" [(ngModel)]="newServerContent"> -->
            <input type="text" id="amount" class="form-control" #serverContent>
        </div>
        <br>
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
        <button class="btn btn-primary md-5" (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
</div>